<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="scss/styles.css">
    <title>Fylo || Dashboard</title>
</head>
<body>

    <nav>
        <a href="/" class="logo">
          <img src="images/logo.svg" alt="" srcset="">
        </a>
    
        <div class="links">
          <a href="/dashboard">Dashboard</a>
          <a href="/trade">Trade</a>
          <a href="/profile">Profile</a>
          <a href="/support">Support</a>
          <a href="#" class="signout">Signout</a>
        </div>
    
        <a href="#" id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </nav>
  
      <div class="mobileLinks">
        <a href="/dashboard">Dashboard</a>
        <a href="/trade">Trade</a>
        <a href="/profile">Profile</a>
          <a href="/support">Support</a>
          <a href="#" class="signout">Signout</a>
      </div>

      <div class="alert">
        <h1>Logout</h1>
        <p>are you sure you want to logout?</p>

        <div class="alert__links">
          <a href="#" id="cancel">Cancel</a>
          <a href="/login" class="specialLink">Ok</a>
        </div>
      </div>

    
